language: android
jdk: openjdk17

branches:
  except:
    # Don't run on tag pushes
    - /^v\d+\.\d+\.\d+$/

env:
  global:
    - BUILD_TOOLS_VERSION=34.0.0
    - ANDROID_API_LEVEL=34

android:
  components:
    - tools
    - platform-tools
    - build-tools-$BUILD_TOOLS
    - android-$ANDROID_API_LEVEL
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-$ANDROID_API_LEVEL
  licenses:
    - 'android-sdk-preview-license-.+'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

script:
  # accept sdk licenses and build/test the project
  - yes | sdkmanager --update
  - ./gradlew build check

  # report coverage (disabled)
  # - bash <(curl -s https://codecov.io/bash)

  # create tag
  - git config --global user.email "ci@smartcar.com"
  - git config --global user.name "Travis CI User"
  - export SDK_VERSION=$(cat smartcar-auth/gradle.properties | grep -E '^libVersion=.*$' | sed 's/^libVersion=//')
  - if [ "${TRAVIS_BRANCH}" = "master" ]; then git tag -a "v${SDK_VERSION}" -m "Travis Generated Tag"; fi

before_deploy:
  - export ORG_GRADLE_PROJECT_signingKey="$(echo $ORG_GRADLE_PROJECT_signingKey_encoded | base64 -d)"

deploy:
  - provider: script
    skip_cleanup: true
    script: ./gradlew publish closeAndReleaseStagingRepository && echo -e "machine github.com\n  login $GH_TOKEN" >> ~/.netrc && git push origin "v${SDK_VERSION}"
    on:
      branch: master
