<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.smartcar.example">

    <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
      <activity android:name="com.smartcar.example.MainActivity">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
      <activity android:name="com.smartcar.sdk.SmartcarCodeReceiver">
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data
                  android:scheme="@string/smartcar_auth_scheme"
                  android:host="@string/smartcar_auth_host" />
          </intent-filter >
      </activity>
  </application>

</manifest>
